
<div class="navigation">
	<div class=navigation-spacer">
	<%= image_tag( "4x4.png", :alt => "", :class => "navigation-spacer"  ) %>
	</div>
	
	<%- if flash[:navigation_notice] -%>
			<div class="navigation-notice"> <%= flash[:navigation_notice] %> </div>
	<%- end -%>
	<div class="spacestation-image">
		<%= image_tag( "space_station.jpg", :alt => @ship.location.name, :class => "spacestation-image" ) %>
	</div>
	
	<div class="navigation-information">
		<h2>
			<%= @ship.name %>
		</h2>
		<p>
			Location: <%= @ship.location.name %>
		<br />
			Fuel: <%= number_with_delimiter( @ship.fuel ) %>
		<br />
			Max Range: <%= number_with_delimiter( @ship.fuel ) %> AU
		</p>
	</div>

	<%= render( :partial => "routes") %>

</div>
