<div class="space-ship">
	<%= image_tag("space_ship.jpg") %>
	<%= image_tag("4x4.png", :class => "spacer") %>
	<div class="ship-info">
		<h2><%= @ship.name %></h2>
		<br />
		Class: Nestromo
		<br />
		Weight: <%= number_with_delimiter @ship.total_weight %> Mg
		<br />
		Length: <%= number_with_delimiter @ship.total_length %> m
		<br />
		Cargo Capasity: <%= number_with_delimiter @ship.max_cargo %> m<span class="super-script">3</span>
		<br />
		Fuel Copasity: <%= number_with_delimiter @ship.fuel_capasity %> Tonnes
		<br />
		Thrust: 6.2 TN
		<br />
		Fuel Effecentcy: 1
	</div>
</div>
